html,
body {
    background: #060e1c;
}

h1 {
    margin: 0;
    padding: 0;
}

.main-cont {
    height: 100vh;
    width: 100vw;
    /*background: #0a1930;*/
}

.navbar-toggler {
    z-index: 1000;
    margin-top: 18px;
}

.mynavbar {
    padding: 0;
    position: relative;
    z-index: 999;
    top: 0;
    width: 100%;
}

#navbarSupportedContent {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-color: rgba(124, 178, 10, 0.5);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../images/hamburger-xxl.png");
}

.navbar-toggler:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: mediumpurple;
}

.nav-link {
    color: white;
    text-align: center;
}

.nav-link:hover {
    color: rgb(124, 178, 10);
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

#particles-js {
    width: 100vw;
    height: 100vh;
    background-color: #060e1c;
    background-image: url('../images/troll.reviews.png');
    background-size: contain;
    position: fixed;
    top: 0;
    z-index: 1;
    background-position: top;
    background-repeat: no-repeat;
}

.screen-div {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 900;
}

.comment {
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

canvas {
    display: block;
}
