html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

button{
    padding: 0px;
}

.form-control{
    border-style: none;
    border-color:none;
    border-color:none;
}

.center-form{
    padding-left: 10%;
    padding-right: 10%;
}

.main-cont {
    height: 100vh;
    width: 100vw;
    /*background: #0a1930;*/
}

#troll-search {
    border-style:ridge;
    border-width: 2px;
    border-color: #b759ff;
    border-radius: 6px;
    box-shadow: 0px 0px 40px black; 
    height:70px;
    
}

#troll-search input {
    font-size: 25px;
}
#troll-search button {
    background: #c997ef;
    border: none;
    font-size: 25px;
    /*padding-left: 4%;
    padding-right: 4%;*/
    width: 10%;
}

#troll-search button:hover {
    background: #b759ff;
}

.troll-butt-text {
     padding-left: 4%;
    padding-right: 4%;
    font-size: 25px;
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #060e1c;
  background-image: url('');
  background-size: cover;
  position: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

canvas{
  display:block;
  vertical-align:bottom;
}